ansible==13.4.0
ansible-core==2.20.3
apsw==3.51.2.0
arandr==0.1.11
attrs==25.4.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
Brotli==1.2.0
brotlicffi==1.2.0.0
cffi==2.0.0
chardet==6.0.0.post1
charset-normalizer==3.4.6
configobj==5.0.9
cryptography==46.0.5
css-parser==1.0.10
cssselect==1.4.0
Cython==3.2.4
dbus-python==1.4.0
Deprecated==1.3.0
dnspython==2.8.0
faust-cchardet==2.1.19
feedparser==6.0.12
filelock==3.25.2
fluidity-sm==0.2.1
html2text==2025.4.15
html5-parser==0.4.12
html5lib==1.1
idna==3.11
ifaddr==0.2.0
inflate64==1.0.4
invoke==2.2.1
jaconv==0.5.0
jeepney==0.9.0
Jinja2==3.1.6
lensfun==0.3.4
lexicon==3.0.0
lxml==6.0.2
lxml_html_clean==0.4.4
Markdown==3.10.2
MarkupSafe==3.0.3
mechanize==0.4.10
msgpack==1.1.2
multivolumefile==0.2.3
netifaces==0.11.0
nftables==0.1
packaging==26.0
paramiko==4.0.0
pdftotext==2.2.2
pexpect==4.9.0
pillow==12.1.1
psutil==7.2.2
ptyprocess==0.7.0
py7zr==1.1.2
pybcj==1.0.7
pycairo==1.29.0
pychm==0.8.6
pycparser==3.0
pycryptodome==3.23.0
pycryptodomex==3.23.0
Pygments==2.19.2
PyGObject==3.54.5
pykakasi==2.3.1.dev0
PyNaCl==1.6.2
pyppmd==1.2.0
PyQt6==6.10.2
PyQt6-WebEngine==6.10.0
PyQt6_sip==13.11.1
python-dateutil==2.9.0
PyYAML==6.0.3
pyzstd==0.19.1
regex==2026.2.28
requests==2.32.5
resolvelib==1.2.1
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.8.3
TBB==0.2
terminator==2.1.5
texttable==1.7.0
typing_extensions==4.15.0
unrardll==0.1.7
urllib3==2.6.3
validate==5.0.9
webencodings==0.5.1
wheel==0.46.3
wrapt==2.0.0
xxhash==3.6.0
zeroconf==0.148.0
zstandard==0.25.0
